name: lock-closed-pr.yml

on: 
  pull_request:
    types: [closed]

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
  - uses: sudo-bot/action-pull-request-lock@v1.0.5
    with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        number: ${{ github.event.pull_request.number }}
        lock-reason: resolved
